<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
         </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="content" color="dark">
    <ion-item color="dark">
        <!-- <ion-label>
            Seems like there's nothing here. Currently under construction.
        </ion-label>-->
    </ion-item>
    <ion-item color="dark">
        <ion-text>
            <br>
            <ion-title class="abouttitle">CryptoWatch Idea</ion-title>
            <p>I was looking for a good crypto App, but don't found a good for me.
                <br>I want to combine all good functions from other apps i like to one place. So i created this app.
            </p>
            <ion-title class="abouttitle">Cryptocurrencies</ion-title>
            <p> A cryptocurrency is a digital medium of exchange using strong cryptography to secure financial
                transactions, control the creation of additional units, and verify the transfer of assets.
                Source: <a class="abouttitle"
                    href="https://coinmarketcap.com/intro-to-crypto/what-are-cryptocurrencies/">Coinmarketcap What are
                    cryptocurrencies</a>
            </p>
            <ion-title class="abouttitle">User Interface</ion-title>
            <p> Material colors from: <a class="abouttitle"
                    href="https://material.io/design/material-studies/rally.html#about-rally">Rally Theme</a>
            </p>
            <ion-title class="abouttitle">Permissions & Thanks to...</ion-title>
            <p> Source for coins and logos: <a class="abouttitle" href="https://coinmarketcap.com/">Coinmarketcap</a>
            </p>
            <ion-title><a class="abouttitle" href="mailto:davidduckwitz@googlemail.com">Contact</a></ion-title>
            <br>
            <ion-title><a class="abouttitle" href="#">EULA</a></ion-title>
            <br>
            <ion-title><a class="abouttitle" href="#">Privacy Policy</a></ion-title>
            <br>
        </ion-text>
    </ion-item>
</ion-content>