<ion-list class="popoverList">
  <ion-list-header class="popoverHeader">
    <ion-avatar item-start class="popoverAvatar">
      <img src="/assets/img/{{object.symbol}}@2X.PNG" alt="{{object.id}}" style="border-radius:0;">
    </ion-avatar>
    <ion-label class="popoverTitle">{{object.name}}</ion-label>
  </ion-list-header>

  <!-- Favourites -->
  <ion-item color="success" (click)="addToFavourites()" *ngIf="(displayFavouritesItems() && !favouritesContains())">
    <ion-icon name="add" color="dark"></ion-icon>
    <ion-label color="dark" class="popoverSelectionLabel">Add to favourites</ion-label>
  </ion-item>
  <ion-item color="warning" (click)="removeFromFavourites()" *ngIf="(displayFavouritesItems() && favouritesContains())">
    <ion-icon name="remove" color="dark"></ion-icon>
    <ion-label color="dark" class="popoverSelectionLabel">Remove from favourites</ion-label>
  </ion-item>

  <!-- Portfolio -->
  <ion-item color="success" (click)="addToPortfolio()" *ngIf="(displayPortfolioItems() && !portfolioContains())">
    <ion-icon name="add" color="dark"></ion-icon>
    <ion-label color="dark" class="popoverSelectionLabel">Add to portfolio</ion-label>
  </ion-item>
  <ion-item color="warning" (click)="removeFromPortfolio()" *ngIf="(displayPortfolioItems() && portfolioContains())">
    <ion-icon name="remove" color="dark"></ion-icon>
    <ion-label color="dark" class="popoverSelectionLabel">Remove from portfolio</ion-label>
  </ion-item>
</ion-list>